body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.resume-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa;
}

.resume-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 800px;
    max-width: 100%;
}

header .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 15%;
    margin-bottom: 10px;
    border: 3px solid #28a745;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 5px;
}

p {
    font-size: 18px;
    color: #555;
}

h2 {
    font-size: 24px;
    color: #28a745;
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

ul li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    position: relative;
}

ul li::before {
    content: '•';
    color: #28a745;
    position: absolute;
    left: -20px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

button:active {
    transform: scale(0.98);
}